<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.scc.mapper.BedMapper">
  <resultMap id="BaseResultMap" type="cn.scc.entity.Bed">
    <id column="bedId" jdbcType="BIGINT" property="bedid" />
    <result column="room" jdbcType="VARCHAR" property="room" />
    <result column="floor" jdbcType="VARCHAR" property="floor" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    bedId, room, floor, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bed
    where bedId = #{bedid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bed
    where bedId = #{bedid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.scc.entity.Bed">
    insert into bed (bedId, room, floor, 
      status)
    values (#{bedid,jdbcType=BIGINT}, #{room,jdbcType=VARCHAR}, #{floor,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.scc.entity.Bed">
    insert into bed
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bedid != null">
        bedId,
      </if>
      <if test="room != null">
        room,
      </if>
      <if test="floor != null">
        floor,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bedid != null">
        #{bedid,jdbcType=BIGINT},
      </if>
      <if test="room != null">
        #{room,jdbcType=VARCHAR},
      </if>
      <if test="floor != null">
        #{floor,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.scc.entity.Bed">
    update bed
    <set>
      <if test="room != null">
        room = #{room,jdbcType=VARCHAR},
      </if>
      <if test="floor != null">
        floor = #{floor,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where bedId = #{bedid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.scc.entity.Bed">
    update bed
    set room = #{room,jdbcType=VARCHAR},
      floor = #{floor,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where bedId = #{bedid,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="cn.scc.entity.Bed">
    <id column="bedId" jdbcType="BIGINT" property="bedid" />
    <result column="room" jdbcType="VARCHAR" property="room" />
    <result column="floor" jdbcType="VARCHAR" property="floor" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    bedId, room, floor, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bed
    where bedId = #{bedid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bed
    where bedId = #{bedid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.scc.entity.Bed">
    insert into bed (bedId, room, floor, 
      status)
    values (#{bedid,jdbcType=BIGINT}, #{room,jdbcType=VARCHAR}, #{floor,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.scc.entity.Bed">
    insert into bed
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bedid != null">
        bedId,
      </if>
      <if test="room != null">
        room,
      </if>
      <if test="floor != null">
        floor,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bedid != null">
        #{bedid,jdbcType=BIGINT},
      </if>
      <if test="room != null">
        #{room,jdbcType=VARCHAR},
      </if>
      <if test="floor != null">
        #{floor,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.scc.entity.Bed">
    update bed
    <set>
      <if test="room != null">
        room = #{room,jdbcType=VARCHAR},
      </if>
      <if test="floor != null">
        floor = #{floor,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where bedId = #{bedid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.scc.entity.Bed">
    update bed
    set room = #{room,jdbcType=VARCHAR},
      floor = #{floor,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where bedId = #{bedid,jdbcType=BIGINT}
  </update>
</mapper>