<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.scc.mapper.CheckinMapper" >
  <resultMap id="BaseResultMap" type="cn.scc.entity.Checkin" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="customer_id" property="customerId" jdbcType="BIGINT" />
    <result column="bed_id" property="bedId" jdbcType="BIGINT" />
    <result column="bed_start" property="bedStart" jdbcType="DATE" />
    <result column="bed_end" property="bedEnd" jdbcType="DATE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, customer_id, bed_id, bed_start, bed_end, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from checkin
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from checkin
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.scc.entity.Checkin" >
    insert into checkin (id, customer_id, bed_id, 
      bed_start, bed_end, remark)
    values (#{id,jdbcType=BIGINT}, #{customerId,jdbcType=BIGINT}, #{bedId,jdbcType=BIGINT}, 
      #{bedStart,jdbcType=DATE}, #{bedEnd,jdbcType=DATE}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.scc.entity.Checkin" >
    insert into checkin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="bedId != null" >
        bed_id,
      </if>
      <if test="bedStart != null" >
        bed_start,
      </if>
      <if test="bedEnd != null" >
        bed_end,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="bedId != null" >
        #{bedId,jdbcType=BIGINT},
      </if>
      <if test="bedStart != null" >
        #{bedStart,jdbcType=DATE},
      </if>
      <if test="bedEnd != null" >
        #{bedEnd,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.scc.entity.Checkin" >
    update checkin
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="bedId != null" >
        bed_id = #{bedId,jdbcType=BIGINT},
      </if>
      <if test="bedStart != null" >
        bed_start = #{bedStart,jdbcType=DATE},
      </if>
      <if test="bedEnd != null" >
        bed_end = #{bedEnd,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.scc.entity.Checkin" >
    update checkin
    set customer_id = #{customerId,jdbcType=BIGINT},
      bed_id = #{bedId,jdbcType=BIGINT},
      bed_start = #{bedStart,jdbcType=DATE},
      bed_end = #{bedEnd,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>