<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.scc.mapper.EgressMapper" >
  <resultMap id="BaseResultMap" type="cn.scc.entity.Egress" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="customer_id" property="customerId" jdbcType="BIGINT" />
    <result column="egress_type" property="egressType" jdbcType="VARCHAR" />
    <result column="egress_date" property="egressDate" jdbcType="DATE" />
    <result column="back" property="back" jdbcType="DATE" />
    <result column="companion" property="companion" jdbcType="VARCHAR" />
    <result column="relation" property="relation" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="real_back" property="realBack" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, customer_id, egress_type, egress_date, back, companion, relation, phone, remark, 
    real_back
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from egress
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from egress
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.scc.entity.Egress" >
    insert into egress (id, customer_id, egress_type, 
      egress_date, back, companion, 
      relation, phone, remark, 
      real_back)
    values (#{id,jdbcType=BIGINT}, #{customerId,jdbcType=BIGINT}, #{egressType,jdbcType=VARCHAR}, 
      #{egressDate,jdbcType=DATE}, #{back,jdbcType=DATE}, #{companion,jdbcType=VARCHAR}, 
      #{relation,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{realBack,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="cn.scc.entity.Egress" >
    insert into egress
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="egressType != null" >
        egress_type,
      </if>
      <if test="egressDate != null" >
        egress_date,
      </if>
      <if test="back != null" >
        back,
      </if>
      <if test="companion != null" >
        companion,
      </if>
      <if test="relation != null" >
        relation,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="realBack != null" >
        real_back,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="egressType != null" >
        #{egressType,jdbcType=VARCHAR},
      </if>
      <if test="egressDate != null" >
        #{egressDate,jdbcType=DATE},
      </if>
      <if test="back != null" >
        #{back,jdbcType=DATE},
      </if>
      <if test="companion != null" >
        #{companion,jdbcType=VARCHAR},
      </if>
      <if test="relation != null" >
        #{relation,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="realBack != null" >
        #{realBack,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.scc.entity.Egress" >
    update egress
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="egressType != null" >
        egress_type = #{egressType,jdbcType=VARCHAR},
      </if>
      <if test="egressDate != null" >
        egress_date = #{egressDate,jdbcType=DATE},
      </if>
      <if test="back != null" >
        back = #{back,jdbcType=DATE},
      </if>
      <if test="companion != null" >
        companion = #{companion,jdbcType=VARCHAR},
      </if>
      <if test="relation != null" >
        relation = #{relation,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="realBack != null" >
        real_back = #{realBack,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.scc.entity.Egress" >
    update egress
    set customer_id = #{customerId,jdbcType=BIGINT},
      egress_type = #{egressType,jdbcType=VARCHAR},
      egress_date = #{egressDate,jdbcType=DATE},
      back = #{back,jdbcType=DATE},
      companion = #{companion,jdbcType=VARCHAR},
      relation = #{relation,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      real_back = #{realBack,jdbcType=DATE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>