<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.scc.mapper.EmployeeMapper" >
  <resultMap id="BaseResultMap" type="cn.scc.entity.Employee" >
    <id column="emp_id" property="empId" jdbcType="BIGINT" />
    <result column="emp_pwd" property="empPwd" jdbcType="VARCHAR" />
    <result column="emp_name" property="empName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="emp_type" property="empType" jdbcType="VARCHAR" />
    <result column="hiredate" property="hiredate" jdbcType="DATE" />
    <result column="duty" property="duty" jdbcType="VARCHAR" />
    <result column="duty_name" property="dutyName" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="power" property="power" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    emp_id, emp_pwd, emp_name, sex, emp_type, hiredate, duty, duty_name, phone, introduction, 
    remark, power, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from employee
    where emp_id = #{empId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from employee
    where emp_id = #{empId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.scc.entity.Employee" >
    insert into employee (emp_id, emp_pwd, emp_name, 
      sex, emp_type, hiredate, 
      duty, duty_name, phone, 
      introduction, remark, power, 
      status)
    values (#{empId,jdbcType=BIGINT}, #{empPwd,jdbcType=VARCHAR}, #{empName,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{empType,jdbcType=VARCHAR}, #{hiredate,jdbcType=DATE}, 
      #{duty,jdbcType=VARCHAR}, #{dutyName,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{introduction,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{power,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.scc.entity.Employee" >
    insert into employee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="empId != null" >
        emp_id,
      </if>
      <if test="empPwd != null" >
        emp_pwd,
      </if>
      <if test="empName != null" >
        emp_name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="empType != null" >
        emp_type,
      </if>
      <if test="hiredate != null" >
        hiredate,
      </if>
      <if test="duty != null" >
        duty,
      </if>
      <if test="dutyName != null" >
        duty_name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="power != null" >
        power,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="empId != null" >
        #{empId,jdbcType=BIGINT},
      </if>
      <if test="empPwd != null" >
        #{empPwd,jdbcType=VARCHAR},
      </if>
      <if test="empName != null" >
        #{empName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="empType != null" >
        #{empType,jdbcType=VARCHAR},
      </if>
      <if test="hiredate != null" >
        #{hiredate,jdbcType=DATE},
      </if>
      <if test="duty != null" >
        #{duty,jdbcType=VARCHAR},
      </if>
      <if test="dutyName != null" >
        #{dutyName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="power != null" >
        #{power,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.scc.entity.Employee" >
    update employee
    <set >
      <if test="empPwd != null" >
        emp_pwd = #{empPwd,jdbcType=VARCHAR},
      </if>
      <if test="empName != null" >
        emp_name = #{empName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="empType != null" >
        emp_type = #{empType,jdbcType=VARCHAR},
      </if>
      <if test="hiredate != null" >
        hiredate = #{hiredate,jdbcType=DATE},
      </if>
      <if test="duty != null" >
        duty = #{duty,jdbcType=VARCHAR},
      </if>
      <if test="dutyName != null" >
        duty_name = #{dutyName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="power != null" >
        power = #{power,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where emp_id = #{empId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.scc.entity.Employee" >
    update employee
    set emp_pwd = #{empPwd,jdbcType=VARCHAR},
      emp_name = #{empName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      emp_type = #{empType,jdbcType=VARCHAR},
      hiredate = #{hiredate,jdbcType=DATE},
      duty = #{duty,jdbcType=VARCHAR},
      duty_name = #{dutyName,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      power = #{power,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where emp_id = #{empId,jdbcType=BIGINT}
  </update>
</mapper>