<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.scc.mapper.FoodsMapper" >
  <resultMap id="BaseResultMap" type="cn.scc.entity.Foods" >
    <id column="food_id" property="foodId" jdbcType="BIGINT" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="DATE" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="DATE" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    <result column="food_name" property="foodName" jdbcType="VARCHAR" />
    <result column="food_type" property="foodType" jdbcType="VARCHAR" />
    <result column="food_tag" property="foodTag" jdbcType="VARCHAR" />
    <result column="food_price" property="foodPrice" jdbcType="DECIMAL" />
    <result column="food_picture" property="foodPicture" jdbcType="VARCHAR" />
    <result column="momal_flag" property="momalFlag" jdbcType="VARCHAR" />
    <result column="supply_week" property="supplyWeek" jdbcType="VARCHAR" />
    <result column="supply_type" property="supplyType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    food_id, create_by, create_date, update_by, update_date, remarks, del_flag, food_name, 
    food_type, food_tag, food_price, food_picture, momal_flag, supply_week, supply_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from foods
    where food_id = #{foodId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from foods
    where food_id = #{foodId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.scc.entity.Foods" >
    insert into foods (food_id, create_by, create_date, 
      update_by, update_date, remarks, 
      del_flag, food_name, food_type, 
      food_tag, food_price, food_picture, 
      momal_flag, supply_week, supply_type
      )
    values (#{foodId,jdbcType=BIGINT}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=DATE}, #{remarks,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=VARCHAR}, #{foodName,jdbcType=VARCHAR}, #{foodType,jdbcType=VARCHAR}, 
      #{foodTag,jdbcType=VARCHAR}, #{foodPrice,jdbcType=DECIMAL}, #{foodPicture,jdbcType=VARCHAR}, 
      #{momalFlag,jdbcType=VARCHAR}, #{supplyWeek,jdbcType=VARCHAR}, #{supplyType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.scc.entity.Foods" >
    insert into foods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="foodId != null" >
        food_id,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="foodName != null" >
        food_name,
      </if>
      <if test="foodType != null" >
        food_type,
      </if>
      <if test="foodTag != null" >
        food_tag,
      </if>
      <if test="foodPrice != null" >
        food_price,
      </if>
      <if test="foodPicture != null" >
        food_picture,
      </if>
      <if test="momalFlag != null" >
        momal_flag,
      </if>
      <if test="supplyWeek != null" >
        supply_week,
      </if>
      <if test="supplyType != null" >
        supply_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="foodId != null" >
        #{foodId,jdbcType=BIGINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=DATE},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="foodName != null" >
        #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="foodType != null" >
        #{foodType,jdbcType=VARCHAR},
      </if>
      <if test="foodTag != null" >
        #{foodTag,jdbcType=VARCHAR},
      </if>
      <if test="foodPrice != null" >
        #{foodPrice,jdbcType=DECIMAL},
      </if>
      <if test="foodPicture != null" >
        #{foodPicture,jdbcType=VARCHAR},
      </if>
      <if test="momalFlag != null" >
        #{momalFlag,jdbcType=VARCHAR},
      </if>
      <if test="supplyWeek != null" >
        #{supplyWeek,jdbcType=VARCHAR},
      </if>
      <if test="supplyType != null" >
        #{supplyType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.scc.entity.Foods" >
    update foods
    <set >
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=DATE},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="foodName != null" >
        food_name = #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="foodType != null" >
        food_type = #{foodType,jdbcType=VARCHAR},
      </if>
      <if test="foodTag != null" >
        food_tag = #{foodTag,jdbcType=VARCHAR},
      </if>
      <if test="foodPrice != null" >
        food_price = #{foodPrice,jdbcType=DECIMAL},
      </if>
      <if test="foodPicture != null" >
        food_picture = #{foodPicture,jdbcType=VARCHAR},
      </if>
      <if test="momalFlag != null" >
        momal_flag = #{momalFlag,jdbcType=VARCHAR},
      </if>
      <if test="supplyWeek != null" >
        supply_week = #{supplyWeek,jdbcType=VARCHAR},
      </if>
      <if test="supplyType != null" >
        supply_type = #{supplyType,jdbcType=VARCHAR},
      </if>
    </set>
    where food_id = #{foodId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.scc.entity.Foods" >
    update foods
    set create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=DATE},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=DATE},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      food_name = #{foodName,jdbcType=VARCHAR},
      food_type = #{foodType,jdbcType=VARCHAR},
      food_tag = #{foodTag,jdbcType=VARCHAR},
      food_price = #{foodPrice,jdbcType=DECIMAL},
      food_picture = #{foodPicture,jdbcType=VARCHAR},
      momal_flag = #{momalFlag,jdbcType=VARCHAR},
      supply_week = #{supplyWeek,jdbcType=VARCHAR},
      supply_type = #{supplyType,jdbcType=VARCHAR}
    where food_id = #{foodId,jdbcType=BIGINT}
  </update>
</mapper>