<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.scc.mapper.MealsMapper" >
  <resultMap id="BaseResultMap" type="cn.scc.entity.Meals" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="customer_id" property="customerId" jdbcType="BIGINT" />
    <result column="food_id" property="foodId" jdbcType="BIGINT" />
    <result column="food_date" property="foodDate" jdbcType="DATE" />
    <result column="supply_day" property="supplyDay" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, customer_id, food_id, food_date, supply_day
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from meals
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from meals
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.scc.entity.Meals" >
    insert into meals (id, customer_id, food_id, 
      food_date, supply_day)
    values (#{id,jdbcType=BIGINT}, #{customerId,jdbcType=BIGINT}, #{foodId,jdbcType=BIGINT}, 
      #{foodDate,jdbcType=DATE}, #{supplyDay,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.scc.entity.Meals" >
    insert into meals
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="foodId != null" >
        food_id,
      </if>
      <if test="foodDate != null" >
        food_date,
      </if>
      <if test="supplyDay != null" >
        supply_day,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="foodId != null" >
        #{foodId,jdbcType=BIGINT},
      </if>
      <if test="foodDate != null" >
        #{foodDate,jdbcType=DATE},
      </if>
      <if test="supplyDay != null" >
        #{supplyDay,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.scc.entity.Meals" >
    update meals
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="foodId != null" >
        food_id = #{foodId,jdbcType=BIGINT},
      </if>
      <if test="foodDate != null" >
        food_date = #{foodDate,jdbcType=DATE},
      </if>
      <if test="supplyDay != null" >
        supply_day = #{supplyDay,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.scc.entity.Meals" >
    update meals
    set customer_id = #{customerId,jdbcType=BIGINT},
      food_id = #{foodId,jdbcType=BIGINT},
      food_date = #{foodDate,jdbcType=DATE},
      supply_day = #{supplyDay,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>