<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.scc.mapper.NurrecordMapper" >
  <resultMap id="BaseResultMap" type="cn.scc.entity.Nurrecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="customer_id" property="customerId" jdbcType="BIGINT" />
    <result column="emp_id" property="empId" jdbcType="BIGINT" />
    <result column="nursing_no" property="nursingNo" jdbcType="BIGINT" />
    <result column="nursing_end" property="nursingEnd" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="nursing_num" property="nursingNum" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, customer_id, emp_id, nursing_no, nursing_end, remark, nursing_num
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from nurrecord
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from nurrecord
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.scc.entity.Nurrecord" >
    insert into nurrecord (id, customer_id, emp_id, 
      nursing_no, nursing_end, remark, 
      nursing_num)
    values (#{id,jdbcType=BIGINT}, #{customerId,jdbcType=BIGINT}, #{empId,jdbcType=BIGINT}, 
      #{nursingNo,jdbcType=BIGINT}, #{nursingEnd,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{nursingNum,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.scc.entity.Nurrecord" >
    insert into nurrecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="empId != null" >
        emp_id,
      </if>
      <if test="nursingNo != null" >
        nursing_no,
      </if>
      <if test="nursingEnd != null" >
        nursing_end,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="nursingNum != null" >
        nursing_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="empId != null" >
        #{empId,jdbcType=BIGINT},
      </if>
      <if test="nursingNo != null" >
        #{nursingNo,jdbcType=BIGINT},
      </if>
      <if test="nursingEnd != null" >
        #{nursingEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="nursingNum != null" >
        #{nursingNum,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.scc.entity.Nurrecord" >
    update nurrecord
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="empId != null" >
        emp_id = #{empId,jdbcType=BIGINT},
      </if>
      <if test="nursingNo != null" >
        nursing_no = #{nursingNo,jdbcType=BIGINT},
      </if>
      <if test="nursingEnd != null" >
        nursing_end = #{nursingEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="nursingNum != null" >
        nursing_num = #{nursingNum,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.scc.entity.Nurrecord" >
    update nurrecord
    set customer_id = #{customerId,jdbcType=BIGINT},
      emp_id = #{empId,jdbcType=BIGINT},
      nursing_no = #{nursingNo,jdbcType=BIGINT},
      nursing_end = #{nursingEnd,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      nursing_num = #{nursingNum,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>