<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.scc.mapper.RetreatMapper" >
  <resultMap id="BaseResultMap" type="cn.scc.entity.Retreat" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="customer_id" property="customerId" jdbcType="BIGINT" />
    <result column="retreat_type" property="retreatType" jdbcType="VARCHAR" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="retreat_date" property="retreatDate" jdbcType="DATE" />
    <result column="apply_date" property="applyDate" jdbcType="DATE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, customer_id, retreat_type, reason, retreat_date, apply_date, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from retreat
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from retreat
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.scc.entity.Retreat" >
    insert into retreat (id, customer_id, retreat_type, 
      reason, retreat_date, apply_date, 
      remark)
    values (#{id,jdbcType=BIGINT}, #{customerId,jdbcType=BIGINT}, #{retreatType,jdbcType=VARCHAR}, 
      #{reason,jdbcType=VARCHAR}, #{retreatDate,jdbcType=DATE}, #{applyDate,jdbcType=DATE}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.scc.entity.Retreat" >
    insert into retreat
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="retreatType != null" >
        retreat_type,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="retreatDate != null" >
        retreat_date,
      </if>
      <if test="applyDate != null" >
        apply_date,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="retreatType != null" >
        #{retreatType,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="retreatDate != null" >
        #{retreatDate,jdbcType=DATE},
      </if>
      <if test="applyDate != null" >
        #{applyDate,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.scc.entity.Retreat" >
    update retreat
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="retreatType != null" >
        retreat_type = #{retreatType,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="retreatDate != null" >
        retreat_date = #{retreatDate,jdbcType=DATE},
      </if>
      <if test="applyDate != null" >
        apply_date = #{applyDate,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.scc.entity.Retreat" >
    update retreat
    set customer_id = #{customerId,jdbcType=BIGINT},
      retreat_type = #{retreatType,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      retreat_date = #{retreatDate,jdbcType=DATE},
      apply_date = #{applyDate,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>