<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.scc.mapper.ServiceMapper" >
  <resultMap id="BaseResultMap" type="cn.scc.entity.Service" >
    <id column="service_id" property="serviceId" jdbcType="BIGINT" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="DATE" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="DATE" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="BIGINT" />
    <result column="nursing_id" property="nursingId" jdbcType="BIGINT" />
    <result column="amount" property="amount" jdbcType="BIGINT" />
    <result column="maturity_time" property="maturityTime" jdbcType="DATE" />
    <result column="buy_time" property="buyTime" jdbcType="DATE" />
    <result column="other_info" property="otherInfo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    service_id, create_by, create_date, update_by, update_date, remarks, del_flag, customer_id, 
    nursing_id, amount, maturity_time, buy_time, other_info
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from service
    where service_id = #{serviceId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from service
    where service_id = #{serviceId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.scc.entity.Service" >
    insert into service (service_id, create_by, create_date, 
      update_by, update_date, remarks, 
      del_flag, customer_id, nursing_id, 
      amount, maturity_time, buy_time, 
      other_info)
    values (#{serviceId,jdbcType=BIGINT}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=DATE}, #{remarks,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=VARCHAR}, #{customerId,jdbcType=BIGINT}, #{nursingId,jdbcType=BIGINT}, 
      #{amount,jdbcType=BIGINT}, #{maturityTime,jdbcType=DATE}, #{buyTime,jdbcType=DATE}, 
      #{otherInfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.scc.entity.Service" >
    insert into service
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serviceId != null" >
        service_id,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="nursingId != null" >
        nursing_id,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="maturityTime != null" >
        maturity_time,
      </if>
      <if test="buyTime != null" >
        buy_time,
      </if>
      <if test="otherInfo != null" >
        other_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serviceId != null" >
        #{serviceId,jdbcType=BIGINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=DATE},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="nursingId != null" >
        #{nursingId,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=BIGINT},
      </if>
      <if test="maturityTime != null" >
        #{maturityTime,jdbcType=DATE},
      </if>
      <if test="buyTime != null" >
        #{buyTime,jdbcType=DATE},
      </if>
      <if test="otherInfo != null" >
        #{otherInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.scc.entity.Service" >
    update service
    <set >
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=DATE},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="nursingId != null" >
        nursing_id = #{nursingId,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=BIGINT},
      </if>
      <if test="maturityTime != null" >
        maturity_time = #{maturityTime,jdbcType=DATE},
      </if>
      <if test="buyTime != null" >
        buy_time = #{buyTime,jdbcType=DATE},
      </if>
      <if test="otherInfo != null" >
        other_info = #{otherInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where service_id = #{serviceId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.scc.entity.Service" >
    update service
    set create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=DATE},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=DATE},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=BIGINT},
      nursing_id = #{nursingId,jdbcType=BIGINT},
      amount = #{amount,jdbcType=BIGINT},
      maturity_time = #{maturityTime,jdbcType=DATE},
      buy_time = #{buyTime,jdbcType=DATE},
      other_info = #{otherInfo,jdbcType=VARCHAR}
    where service_id = #{serviceId,jdbcType=BIGINT}
  </update>
</mapper>